---
import BlogPostLayout from '../../layouts/BlogPostLayout.astro'
import BlogPost from '../../components/sections/blog/BlogPost.astro'
import { client } from '../../lib/sanityClient.ts'
import { AllPosts } from '../../lib/api.ts'
import { getSanityImageUrl } from '../../utils/helpers.ts'
import { Post } from '../../types/sanity-types.d.ts'

// eslint-disable-next-line import/prefer-default-export
export async function getStaticPaths() {
  const allBlogPosts = await client.fetch(AllPosts)

  return allBlogPosts.map((post: Post) => ({
    params: { slug: post.slug.current },
    props: { post },
  }))
}

const { post } = Astro.props
---

<BlogPostLayout
  title={post.title}
  ogImageUrl={getSanityImageUrl(post.mainImage).width(1200).url()}
>
  <!-- <ul>
    {post.categories.map(
      (category: { slug: { current: string }, title: string }) => (
        <li>
          <a href={`/blog/category/${category.slug.current}`}>
            {category.title}
          </a>
        </li>
      )
    )}
  </ul> -->
  <BlogPost post={post} />
</BlogPostLayout>
